{% extends 'base.html' %}
{% block content %}
<form class="flex items-center justify-center">
  <div class="mt-2 mx-auto bg-white rounded-lg shadow-lg px-2 py-4 w-11/12
    md:w-1/4">
    <div class="font-bold text-center">
      Create festive groups of four!
    </div>
    {% for idx in range(1,5) %}
    <div class='border-1 border-black p-4 my-4 mx-auto rounded-lg w-full
      flex flex-col items-left justify-center
      {% if idx == 1 %}
      bg-yellow-300
      {% elif idx == 2 %}
      bg-green-600
      {% elif idx == 3 %}
      bg-blue-300
      {% else %}
      bg-purple-500
      {% endif %}
      '>
      {% if idx == 1 %}
      <div class='font-bold text-lg'>Category: Easy</div>
      {% elif idx == 2 %}
      <div class='font-bold text-lg'>Category: Medium</div>
      {% elif idx == 3 %}
      <div class='font-bold text-lg'>Category: Hard</div>
      {% else %}
      <div class='font-bold text-lg'>Category: Extreme</div>
      {% endif %}
      <label for='category{{ idx }}' class='font-bold mt-2'>Category Name</label>
      <input type='text' class="rounded-md" name='category{{ idx }}' id='category{{ idx }}'>
      <div class='mt-2 ml-4 flex flex-col'>
      <label for='words{{ idx*1 }}' class='font-bold'>Word 1</label>
      <input type='text' class="rounded-md" name='word{{ idx*1 }}' id='word{{ idx*1 }}'>
      </div>
      <div class='mt-2 ml-4 flex flex-col'>
      <label for='words{{ idx*2 }}' class='font-bold'>Word 2</label>
      <input type='text' class="rounded-md" name='word{{ idx*2 }}' id='word{{ idx*2 }}'>
      </div>
      <div class='mt-2 ml-4 flex flex-col'>
      <label for='words{{ idx*3 }}' class='font-bold'>Word 3</label>
      <input type='text' class="rounded-md" name='word{{ idx*3 }}' id='word{{ idx*3 }}'>
      </div>
      <div class='mt-2 ml-4 flex flex-col'>
      <label for='words{{ idx*4 }}' class='font-bold'>Word 4</label>
      <input type='text' class="rounded-md" name='word{{ idx*4 }}' id='word{{ idx*4 }}'>
      </div>
    </div>
    {% endfor %}
  </div>

</form>
{% endblock %}