<div _="on click
  if I match .bg-stone-600
    remove .bg-stone-600
    add .bg-stone-300
    remove .text-white
    add .text-black
    add @value='' to #{{ word[0] }}
  else
    if (<div.bg-stone-600 />).length !== 4
      remove .bg-stone-300
      add .bg-stone-600
      remove .text-black
      add .text-white
      add @value='{{ word[1] }}' to #{{ word[0] }}
    end
  end"
  class="tile rounded-lg shadow-lg p-2 w-20 h-20 
  font-bold uppercase text-sm text-center flex items-center justify-center
  {% if word[0] in current_guesses %}
  bg-stone-600 text-white
  {% else %}
  bg-stone-300 text-black
  {% endif %}
  ">
  {{ word[1] }}
  <input type = "hidden" name = "{{ word[0] }}" id="{{ word[0] }}" 
    value='
    {% if word[0] in current_guesses %}
    {{ word[1] }}
    {% endif %}
    '/>
  
</div>