<div id="tiles" class='relative'
  {% if message %}
  _="on load
      {% if match == -1 %}
      add .vibrate to .bg-stone-600
      wait 350 ms
      remove .vibrate from .bg-stone-600
      {% endif %}
      send showmessage
    on showmessage
      wait 400 ms
      remove .hidden from #message
      wait 2 s
      add .opacity-0 to #message
      add .hidden to #message"
  {% endif %}
  {% if match and match > -1 %}
  {% endif %}
  >
  {% if message %}
  <div id="message" class='absolute top-3 left-1/2 hidden transform 
    -translate-x-1/2 text-white text-sm bg-black border rounded-lg p-2 
    z-10 whitespace-nowrap'>
    {{ message }}
  </div>
  {% endif %}
  <div id='categories'>
    {% for category in guessed_categories %}
    <div class='my-4 h-20 rounded-lg flex flex-col items-center justify-center
      {% if category['level'] == 1 %}
      bg-yellow-300
      {% elif category['level'] == 2 %}
      bg-green-600
      {% elif category['level'] == 3 %}
      bg-blue-300
      {% else %}
      bg-purple-500
      {% endif %}
      {% if flash == True and loop.last == True %}
      text-white
      {% endif %}
      '>
      <div class="font-bold uppercase text-sm">{{ category['category'] }}</div>
      <div class="uppercase text-sm">{{ category['words']}}</div>
    </div>
    {% endfor %}
  </div>
  <div id='word-tiles'>
    {% for word in words %}
    {% if loop.index % 4 == 1 %}
    <div class="my-4 flex justify-between">
    {% endif %}
    {% include 'word_tile.html' %}
    {% if loop.index % 4 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="flex mt-2 justify-center">
    <div class="font-light text-sm mr-4">Mistletoe thorns remaining:</div>
    <div class="mistakes">
      {% for i in range(mistakes_remaining) %}
      <div class="w-3 h-3 bg-red-600 rounded-full inline-block">
    </div>
    {% endfor %}
    </div>
  </div>
  <div class="flex justify-center mt-2">
    <button hx-post="/shuffle" hx-target="#tiles" 
      class="mx-1 border border-black rounded-full shadow-lg p-2 
      w-20 h-10">
      Shuffle
    </button>

    <button type="button"
      _="on click
          remove .bg-stone-600 from .tile
          add .bg-stone-300 to .tile
          remove .text-white from .tile
          add .text-black to .tile
          add @value='' to <input[type='hidden'] />
          add [@disabled] to .submit
          remove .bg-black from .submit
          remove .text-white from .submit"
      class="mx-1 border border-black rounded-full shadow-lg p-2 
      w-28 h-10">
      Deselect All
    </button>
  
    <button hx-post="/check-tiles" hx-target="#tiles" 
      hx-trigger="checktiles from:body" 
      class="submit mx-1 border border-black rounded-full shadow-lg p-2
      w-20 h-10 disabled:text-gray-400 disabled:border-gray-400"
      _="on click
        halt the event
        add .transition-transform .duration-300 .ease-in-out .transform 
          .-translate-y-2 to <div.bg-stone-600/>
        then wait 500 ms
        then remove 
          .-translate-y-2 from <div.bg-stone-600/>
        then wait 350 ms
        then remove
          .transition-transform .duration-300 .ease-in-out .transform 
          from <div.bg-stone-600/>
        then send checktiles
      on click from .tile 
        if (<div.bg-stone-600 />).length === 4
          remove [@disabled]
          add .bg-black 
          add .text-white
        else 
          add [@disabled]
          remove .bg-black
          remove .text-white
        end"
      disabled>
      Submit
    </button>

  </div>
</div>
