<div _="on click 
  if $selected >= 4 and not :clicked
    add [@disabled]
  else
    remove [@disabled] from .tile
    toggle between .bg-stone-300 and .bg-stone-600 
    toggle between .text-black and .text-white
    set :clicked to not :clicked
    if :clicked 
      increment $selected
      add @value='{{ word[1] }}' to #{{ word[0] }}
    else
      decrement $selected
      add @value='' to #{{ word[0] }}
    end
  end"
  class="tile bg-stone-300 text-black rounded-lg shadow-lg p-2 w-20 h-20 
  font-bold uppercase text-sm text-center flex items-center justify-center">
  {{ word[1] }}
  <input type = "hidden" name = "{{ word[0] }}" id="{{ word[0] }}" 
    value=''/>
</div>